html {
    position: relative;
    min-height: 100%;
}
body{
    background-color: #FFF;
    color: #222;
    font-family: Georgia, Times, 'Times New Roman', serif !important;
    margin-bottom: 30px;
    margin-top: 15px;
}
h1, h2, h3, h4, h5, h6, a{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #231f20 !important;
}
p{
    color: #777;
}
a:link, a:visited{
    color: #1b9dd0 !important;
}
a:hover, a:active{
    color: #75a637 !important;
}
.container{
    width: auto;
    max-width: 900px !important;
    margin: 0 auto;
}
.head-row{
    margin-bottom: 60px;
}
.img-auto{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.title-row{
    /*
    background-image: url('imgs/spotx_mobile_logo.png');
    background-position: bottom left;
    background-size: cover;
    */
}
.center-row{
    margin: 0 auto;
    text-align: center;
}
.content-box{
    margin-bottom: 60px;
}
.r-sidebar{
    padding: 10px 20px 15px 20px !important;
    background-color: #F7F7F7;
    border-radius: 3px;
}
.r-sidebar hr{
    border-top: 1px solid #DDD !important;
}
.h2-top{
    margin-top: 0px !important;
}
.sidebar-list{
    list-style: none;
    padding-left: 10px;
}
.sidebar-list li{
    list-style: none;
    list-style-type: none;
}
.unstyled-list{
    list-style: none;
    padding-left: 10px;
}
.unstyled-list li{
    list-style: none;
    list-style-type: none;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    height: 28px;
    box-shadow: 2px 0 5px rgba(0,0,0,.15);
}
.foot-text{
    margin: 5px auto;
    color:#999;
    font-size: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    text-align: center;
}
.foot-text a{
    margin-left: 12px;
}
.foot-text a:link, .foot-text a:visited{
    color: #88B7C9 !important;
}
.foot-text a:hover, .foot-text a:active{
    color: #7098A7 !important;
}
